.sidebar{   
    height: 100vh;
    box-shadow: 1px 1px 2px rgb(180, 180, 180);
    margin-right: 3%;
    font-size: 1.1em;
}

.cust-border{
    border: solid 1.2px #dddddd
}

.margin-top{    
    margin-top: 5%;
}

table{
    box-shadow: 2px 2px 2px rgb(180, 180, 180)!important

}

.nav-link:hover{
    color: #a5c138!important;
}

.cust-icon{
    margin: 1% 5% 1% 5%;
}

.user-name{
    font-weight: 600;
    color: #013750;
    cursor: pointer;
}

.user-name:hover{
    color: #a5c138;
}

@media all and (max-width: 980px) { 
    .sidebar{
        display: none;
    }

}
