<nav class="navbar navbar-expand-lg navbar-light bg-darkblue text-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <img id="logo-zup" src="https://uploads-ssl.webflow.com/5cac6236f8d44ddee118d97c/5cac6366154dfc8bbe552ea6_logo-zup.svg" alt="logo zup">
        <div class="container">
            <div class="row justify-content-md-center">
                  <form class="form-inline my-lg-6">
                    <input type="text" class="form-control no-border form-control-md rounded-pill" placeholder="Buscar">
                  </form>                  
            </div>
        </div>    
          <i class="material-icons md-48"> account_circle </i>      
    </div>
  </nav>
       