<nav class="navbar navbar-expand-lg navbar-light bg-darkblue text-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <img id="logo-zup" src="https://uploads-ssl.webflow.com/5cac6236f8d44ddee118d97c/5cac6366154dfc8bbe552ea6_logo-zup.svg" alt="logo zup">
            <div class="container">
                <div class="row justify-content-md-center">
                  <div class="col-5">
                      <form class="form-inline my-2 my-lg-0">
                          <div class="col-lg">
                              <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <div class="input-group-text bg-white no-border">@</div>
                                </div>
                                <input type="text" class="form-control no-border" id="inlineFormInputGroupUsername" placeholder="Username">
                              </div>
                            </div>
                      </form>                  
                    </div>
                </div>
              </div>          
        </div>
      </nav>
     